@charset "utf-8";

body {
    overflow-x: hidden;
}

/*slider*/
#slider {
    width: 100%;
    height: 900px;
}

/*슬라이드*/
#slider>.slide {
    width: 100%;
    height: 500px;
    margin: 0 auto;
}

#slider>.slide>img {
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

/* 배송 서비스별 매장 바로가기*/


#slider>.service {
    width: 1300px;
    margin: 0 auto;
}

#slider>.service>h2 {
    margin-bottom: 15px;
}

#slider>.service>.serviceBorder {
    height: 150px;
    width: 1300px;
    border: 2px solid #000;
    margin: 0 auto;
    border-radius: 40px;
    display: flex;
}

#slider>.service>.serviceBorder>div {
    width: 25%;
    height: 80%;
    margin: 10px 0 0 20px;
    float: left;
    font-weight: bold;
}

#slider>.service>.serviceBorder>div>a{
    color: black;
}

#slider>.service>.serviceBorder>div>a>img {
    width: 70px;
    margin: 35px 0 0 10px;
    float: left;
}

#slider>.service>.serviceBorder>div>a>p {
    width: 190px;
    margin: 45px 0 0 10px;
    float: left;
}

/*배너*/


.banner>img {
    width: 900px;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}

/*섹션*/
section {
    width: 100%;
    height: 3150px;
}

/*지금 세일 중인 상품*/
.sales {
    width: 1300px;
    height: 100px;
    margin: 0 auto;
}

.sales>.saleMenu {
    width: 1300px;
    height: 70px;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
    background-color: #f5f5f5;
}

.sales>.saleMenu>ul>.first {
    background-color: #f7d570;
}

.sales>.saleMenu>ul>li {
    float: left;
    font-size: 20px;
    width: 20%;
    height: 70px;
    border-radius: 20px;
    align-content: center;
    color: #666;
}

.sales>.saleMenu>ul>li:hover {
    float: left;
    font-size: 20px;
    width: 20%;
    height: 70px;
    border-radius: 20px;
    align-content: center;
    background-color: #f7d570;
    transition: 0.5s ease-out;
    color: #666;
}

/*세일 판매 상품 이미지*/
.salesProduct {
    width: 1300px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.salesProduct>div {
    width: 20%;
    height: 40%;
    margin: 30px;
    float: left;
}

.salesProduct>div>a>img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
}

.salesProduct>div>a {
    color: black;
}

.salesProduct>div>a>.productTitle {
    font-size: 13px;
    margin: 5px 0;
    width: 100%;
    float: left;
}

.salesProduct>div>a>.salesPrice {
    margin-top: 5px;
    height: 30px;
    width: 100%;
    float: left;
}

.salesProduct>div>a>.star {
    color: #666;
    font-size: 12px;
}

/*새벽배송 가상요소*/
.night::after {
    content: "새벽배송";
    font-size: 12px;
    background-color: #bbb;
    border-radius: 10px;
    padding: 2px 5px;
}

/*신선배송 가상요소*/

.morning::after {
    content: "주간배송";
    font-size: 12px;
    background-color: #ffd040;
    border-radius: 10px;
    padding: 2px 5px;
}

/*전체보기 버튼*/
a>.allWatch {
    border: 2px solid #aaa;
    width: 400px;
    height: 55px;
    border-radius: 5px;
    color: #aaa;
    text-align: center;
    margin: 0 auto;
    align-content: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 70px;
}

a>.allWatch:hover {
    background-color: #777;
    transition: 0.5s ease-out;

}


/*이마트몰 서비스 배너*/

.bigBanner {
    width: 100%;
    background-color: #f5f5f5;
    margin-bottom: 150px;
}

.martBanner {
    width: 1300px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.bigBanner>h2 {
    width: 1300px;
    margin: 0 auto;
}

.martBanner>div>a {
    color: black;
}

.martBanner>div {
    width: 30%;
    height: 65%;
    margin: 20px;
    float: left;
}

.martBanner>div>a>img {
    width: 100%;
    height: 80%;
    float: left;
    border-radius: 20px;
    margin-bottom: 15px;
}

